:root {
	--red: #fb4934;
	--yellow: #fabd2f;
	--lime: #b8bb26;
	--green: #b8bb26;
	--cyan: #8ec07c;
	--blue: #83a598;
	--purple: #d3869b;
	--pink: #b16286;
	--accent: var(--blue);

	--background: #3c3836;
	--backdrop: #282828;
	--foreground: #ebdbb2;
	--shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

body {
	background: var(--background);
	max-width: 900px;
	margin: 30px auto;
	padding: 40px 20px 20px 30px;
	border-radius: 8px;
	box-shadow: var(--shadow);
	transition: margin 100ms;
}

html {
	color: var(--foreground);
	background: var(--backdrop);
	font-family: "Noto Sans", Roboto, sans-serif;
}

h1 {
	font-weight: 600;
}

h2 {
	margin-left: 20px;
}

a,
h2,
.accent {
	color: var(--accent);
}

/* a {
	text-align: right;
	margin-right: 20px;
	text-decoration: none;
	font-weight: 500;
} */

	.anch1 {
	text-align: right;
  margin-right: 20px;
  text-decoration: none;
  font-weight: 500;
	}
	 .anch2 {
  text-align: right;
  margin-right: 20px;
  text-decoration: none;
  font-weight: 500;
  }
	 .anch3 {
  text-align: right;
  margin-right: 20px;
  text-decoration: none;
  font-weight: 500;
  }
	 .anch4 {
  text-align: right;
  margin-right: 20px;
  text-decoration: none;
  font-weight: 500;
  }
	 .anch5 {
  text-align: right;
  margin-right: 20px;
  text-decoration: none;
  font-weight: 500;
  }

h1 {
	text-align: center;
}

.links p > span {
	display: block;
}

@media (min-width: 600px) {
	.links p {
		display: grid;
		grid-template-columns: 12ch calc(100% - 12ch);
		margin: 8px 0;
	}
}

@media (max-width: 940px) {
	body {
		margin-top: 0;
	}
}
.gradient {
	font-family: "Lucida Console", "Courier New", monospace, cursive;
	margin-left:-50px;
	background: linear-gradient(
		to right,
		#fbf1c7,
		var(--yellow),
		var(--blue)
	);
	-webkit-background-clip: text;

	color: transparent;
	animation: rainbow 5s ease infinite;
	background-size: 400% 100%;
}

@keyframes rainbow {
	0%,
	100% {
		background-position: 0 0;
	}
	50% {
		background-position: 100% 0;
	}
}

/* dark mode */
@media (prefers-color-scheme:dark) {
	:root {
	 --red: #fb4934;
	  --yellow: #fabd2f;
	  --lime: #b8bb26;
	  --green: #b8bb26;
	  --cyan: #8ec07c;
	  --blue: #83a598;
	  --purple: #d3869b;
	  --pink: #b16286;
		--accent: var(--blue);

		--background: #282828;
	  --backdrop: #1d2021;
		--foreground: #ebdbb2;
		--shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
	}
}

.about-class {
	text-transform: capitalize;
	margin: 20px;
}
.about-topic {


	margin: 20px;
}

.sattire {
	text-transform: capitalize;
	font-family: noto sans-serif , Roboto;
	font-size: 10px;
	font-weight: 100;
	margin-left: 100px;
}
.neo {
	text-transform: capitalize;
	font-size: 12px;
	color:#458588;
	font-family: sans-serif , Roboto;
	font-weight: bold;
	padding-bottom: -100px ;
	margin-left: 370px;
	opacity: 0;
}
.neo:hover{
	opacity:1;
}
.anc{
	font-size: 15px;
	margin-left:40%;
	opacity: 0;
}
.anc:hover{
	opacity: 1;
	background: linear-gradient(
			to right,
			var(--lime),
			var(--cyan),
			var(--blue),
			var(--purple)
	);
	-webkit-background-clip: text;

	color: transparent;
	animation: rainbow 5s ease infinite;
	background-size: 400% 100%;
}

a{
	background: linear-gradient(
			to right,
			var(--lime),
			var(--cyan),
			var(--blue),
			var(--purple)
	);
	-webkit-background-clip: text;

	color: transparent;
	animation: rainbow 5s forwards infinite;
	background-size: 400% 100%;
}
.logo-glitchh:hover{
	background: #ffff;
}
a:hover{
	animation: animate 2s linear infinite;
}

.name-info{
	font-weight: bolder;
}



.realname{
    font-weight: bold;
	text-transform: uppercase;
	background-image: linear-gradient(
			-225deg,
			var(--blue) 50%,
	    #fbf1c7 30%
			);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 2s linear infinite;
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}
